body{
  background-color: royalblue;
  padding-top: 20px;
}

.changedetails{
  display:inline-block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 50px;
}

.changedetails:hover{
  background-color: turquoise;
}